# ***Projeto Inteligência Artificial e Previsões***
## IA para Score Crédito de Clientes
## Modelo de Classificação
## Situação:
### Você foi contratado por um banco para conseguir definir o Score de Crédito dos Clientes. Você precisa analisar todos os clientes do banco e, com base nessa análise, criar um modelo que consiga ler as informações do cliente e dizer automaticamente o score de crédito dele: Ruim, Médio, Bom

## Passo a Passo
## **Passo 0** - Enteder o Desafio e a Empresa
## **Passo 1** - Importar a Base de Dados
## **Passo 2** - Preparar a Base de Dados para a Inteligência Artificial
## **Passo 3** - Criar um Modelo de IA (Score Crédito: Bom, Médio, Ruim)
## **Passo 4** - Escolher o Melhor Modelo
## **Passo 5** - Usar o Modelo em um Cenário Real

## Iniciando Projeto

### Passo 0 - Ok

## Passo 1

In [1]:
# Importando a Base de Dados e a Biblioteca Pandas e Visualizando a Base

import pandas as pd

In [2]:
tabela = pd.read_csv("client_credit_train.csv")

C:\Users\Pichau\AppData\Local\Temp\ipykernel_16740\2881671995.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  tabela = pd.read_csv("client_credit_train.csv")

In [3]:
display(tabela)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [4]:
tabela.head(5)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [5]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [6]:
tabela.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

### Passo 1 - Ok 
## Passo 2

In [7]:
# Preparar a Base de Dados para a IA
# Importando o LabelEncoder e o Scikit-Learn

from sklearn.preprocessing import LabelEncoder

codificador = LabelEncoder()
tabela['Occupation'] = codificador.fit_transform(tabela['Occupation'])
tabela['Credit_Mix'] = codificador.fit_transform(tabela['Credit_Mix'])
tabela['Payment_Behaviour'] = codificador.fit_transform(tabela['Payment_Behaviour'])

In [8]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  int32
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  int32
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  int32
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int32(3), int64(4), object(17)
memory usage: 20.2+ MB

In [9]:
tabela.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                    int32
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                    int32
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour             int32
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [10]:
tabela.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [11]:
# Separando as Informações em Base de Treino e Base de Teste

y = tabela['Credit_Score']

In [12]:
# Todas as colunas que vamos usar para fazer a previsão do score credito
# Descartando Colunas Desnecessárias para Aprendizado do Modelo
# axis = 1 -> coluna
# axis = 0 -> linha 

x = tabela.drop(['Credit_Score', 'ID', 'Name', 'Num_Credit_Card', 'Month', 'Customer_ID', 'SSN', 'Age', 'Monthly_Inhand_Salary', 'Num_Credit_Inquiries', 'Total_EMI_per_month', 'Credit_Utilization_Ratio', 'Annual_Income', 'Num_of_Loan', 'Type_of_Loan', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Credit_History_Age', 'Payment_of_Min_Amount', 'Amount_invested_monthly', 'Monthly_Balance'], axis=1)

In [13]:
# Separando as Informações pelo Sklearn Automaticamente "Padronizado"


from sklearn.model_selection import train_test_split

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.3)

### Passo 2 - Ok
## Passo 3

In [14]:
# Criando um Modelo de IA para Score de Créditos
# Arvore de Decisão 
# KNN

from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

modelo_arvore = RandomForestClassifier()
modelo_knn = KNeighborsClassifier()

modelo_arvore.fit(x_treino, y_treino)
modelo_knn.fit(x_treino, y_treino)

KNeighborsClassifier()

### Passo 3 - Ok
## Passo 4

In [15]:
# Escolher o Melhor Modelo

from sklearn.metrics import accuracy_score

precisao_arvore = modelo_arvore.predict(x_teste)
precisao_knn = modelo_knn.predict(x_teste.to_numpy())

print(accuracy_score(y_teste, precisao_arvore))
print(accuracy_score(y_teste, precisao_knn))

c:\Users\Pichau\anaconda3\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

0.6942666666666667
0.6430666666666667

### Passo 4 - Ok
## Passo 5

In [16]:
# O Melhor Modelo para Usar em Cenario Real é o da Árvore de Decisão com 70% de Acurácia

In [17]:
novos_clientes = pd.read_csv('client_credit_test.csv')

novos_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      44985 non-null  object
 4   Age                       50000 non-null  object
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  object
 8   Monthly_Inhand_Salary     42502 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  object
 13  Type_of_Loan              44296 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    46502 non-null  object
 16  Changed_Credit_Limit      50000 non-null  object
 17  Num_Credit_Inquiries      48965 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  object
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        45530 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   47729 non-null  object
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 10.3+ MB

In [18]:
novos_clientes.shape

(50000, 27)

In [22]:
novos_clientes.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance'],
      dtype='object')

In [25]:
novos_clientes.dtypes

ID                          int32
Customer_ID                 int32
Month                       int32
Name                        int32
Age                         int32
SSN                         int32
Occupation                  int64
Annual_Income               int32
Monthly_Inhand_Salary       int64
Num_Bank_Accounts           int64
Num_Credit_Card             int64
Interest_Rate               int64
Num_of_Loan                 int32
Type_of_Loan                int32
Delay_from_due_date         int64
Num_of_Delayed_Payment      int32
Changed_Credit_Limit        int32
Num_Credit_Inquiries        int64
Credit_Mix                  int64
Outstanding_Debt            int32
Credit_Utilization_Ratio    int64
Credit_History_Age          int32
Payment_of_Min_Amount       int32
Total_EMI_per_month         int64
Amount_invested_monthly     int32
Payment_Behaviour           int64
Monthly_Balance             int32
dtype: object

In [27]:
novos_clientes['Occupation'] = codificador.fit_transform(novos_clientes['Occupation'])
novos_clientes['Credit_Mix'] = codificador.fit_transform(novos_clientes['Credit_Mix'])
novos_clientes['Payment_Behaviour'] = codificador.fit_transform(novos_clientes['Payment_Behaviour']) 
novos_clientes['ID'] = codificador.fit_transform(novos_clientes['ID'])
novos_clientes['Name'] = codificador.fit_transform(novos_clientes['Name'])
novos_clientes['Month'] = codificador.fit_transform(novos_clientes['Month'])
novos_clientes['Num_Credit_Card'] = codificador.fit_transform(novos_clientes['Num_Credit_Card'])
novos_clientes['Age'] = codificador.fit_transform(novos_clientes['Age'])
novos_clientes['SSN'] = codificador.fit_transform(novos_clientes['SSN'])
novos_clientes['Customer_ID'] = codificador.fit_transform(novos_clientes['Customer_ID'])
novos_clientes['Monthly_Inhand_Salary'] = codificador.fit_transform(novos_clientes['Monthly_Inhand_Salary'])
novos_clientes['Num_Credit_Inquiries'] = codificador.fit_transform(novos_clientes['Num_Credit_Inquiries'])
novos_clientes['Total_EMI_per_month'] = codificador.fit_transform(novos_clientes['Total_EMI_per_month'])
novos_clientes['Credit_Utilization_Ratio'] = codificador.fit_transform(novos_clientes['Credit_Utilization_Ratio'])
novos_clientes['Annual_Income'] = codificador.fit_transform(novos_clientes['Annual_Income'])
novos_clientes['Num_of_Loan'] = codificador.fit_transform(novos_clientes['Num_of_Loan'])
novos_clientes['Type_of_Loan'] = codificador.fit_transform(novos_clientes['Type_of_Loan'])
novos_clientes['Num_of_Delayed_Payment'] = codificador.fit_transform(novos_clientes['Num_of_Delayed_Payment'])
novos_clientes['Changed_Credit_Limit'] = codificador.fit_transform(novos_clientes['Changed_Credit_Limit'])
novos_clientes['Outstanding_Debt'] = codificador.fit_transform(novos_clientes['Outstanding_Debt'])
novos_clientes['Credit_History_Age'] = codificador.fit_transform(novos_clientes['Credit_History_Age'])
novos_clientes['Payment_of_Min_Amount'] = codificador.fit_transform(novos_clientes['Payment_of_Min_Amount'])
novos_clientes['Amount_invested_monthly'] = codificador.fit_transform(novos_clientes['Amount_invested_monthly'])
novos_clientes['Monthly_Balance'] = codificador.fit_transform(novos_clientes['Monthly_Balance'])
novos_clientes['Num_Bank_Accounts'] = codificador.fit_transform(novos_clientes['Num_Bank_Accounts'])

novos_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  int64
 1   Customer_ID               50000 non-null  int64
 2   Month                     50000 non-null  int64
 3   Name                      50000 non-null  int64
 4   Age                       50000 non-null  int64
 5   SSN                       50000 non-null  int64
 6   Occupation                50000 non-null  int64
 7   Annual_Income             50000 non-null  int64
 8   Monthly_Inhand_Salary     50000 non-null  int64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  int64
 13  Type_of_Loan              50000 non-null  int64
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    50000 non-null  int64
 16  Changed_Credit_Limit      50000 non-null  int64
 17  Num_Credit_Inquiries      50000 non-null  int64
 18  Credit_Mix                50000 non-null  int64
 19  Outstanding_Debt          50000 non-null  int64
 20  Credit_Utilization_Ratio  50000 non-null  int64
 21  Credit_History_Age        50000 non-null  int64
 22  Payment_of_Min_Amount     50000 non-null  int64
 23  Total_EMI_per_month       50000 non-null  int64
 24  Amount_invested_monthly   50000 non-null  int64
 25  Payment_Behaviour         50000 non-null  int64
 26  Monthly_Balance           50000 non-null  int64
dtypes: int64(27)
memory usage: 10.3 MB

In [30]:
novos_clientes = novos_clientes.drop(['ID', 'Name', 'Num_Credit_Card', 'Month', 'Customer_ID', 'SSN', 'Age', 'Monthly_Inhand_Salary', 'Num_Credit_Inquiries', 'Total_EMI_per_month', 'Credit_Utilization_Ratio', 'Annual_Income', 'Num_of_Loan', 'Type_of_Loan', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Outstanding_Debt', 'Credit_History_Age', 'Payment_of_Min_Amount', 'Amount_invested_monthly', 'Monthly_Balance'], axis=1)

In [31]:
previsao = modelo_arvore.predict(novos_clientes)

print(previsao)

['Good' 'Good' 'Good' ... 'Poor' 'Poor' 'Standard']

### Passo 5 - Ok
## Fim do Projeto